header{
    position: sticky;
    top: 0;
    background-color: #efefef;
    height: 10%;
    z-index: 10;
    border-bottom: .2rem solid #47759699;
}

.img-container{
    padding: .4rem;
}

.img-container img{
    width: 15vw;
}

.main-container{
    height: 8vw;
    width: 100%;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links-container{
    line-height: 2rem;
    display: flex;
    gap: 2.7rem;

}

.nav-links-container ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.6rem;
    font-size: 1rem;
}


.nav-links-container a{
    font-family: var(--main-font-family-bold);
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

.nav-links-container .order-button{
    display: flex;
    align-items: center;
    justify-content: center;
    /* line-height: 2rem; */
    padding: 0 .7rem;
    /* font-family: var(--main-font-family-bold); */
    background-color: var(--blue);
    border: none;
    box-shadow: .11rem .11rem .31rem black;
    border-radius: .7rem;
    transition: opacity 16ms ease-in-out;
}

.order-button:hover{
    box-shadow: .31rem .31rem .66rem black;
    opacity: .8;
    cursor: pointer;
}


.burger-button::before{
    line-height: 2rem;
    content: '\2630';
    font-size: 1.5rem;
}

.burger-button:hover{
    cursor: pointer;
}

.burger-button.active::before{
    /* x-mark */
    content: '\2715';
}

.burger-button.active:hover{
    cursor: pointer;
}

.burger-button{
    border: none;
}

.upside-down-carret{
    font-size: .9rem;
    font-family: sans-serif;
    font-weight: bold;
}


.mobile-services-nav li a{
    font-size: 1rem;
}

.desktop-display{
    line-height: 2rem;
}

.mobile-display{
    text-align: center;
    line-height: 3rem;
    width: 100%;
    background-color: var(--white);
    border-bottom: 1px solid var(--blue);
}

.mobile-display a{
    font-family: var(--main-font-family-bold);
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

.mobile-services-display a{
    font-family: var(--main-font-family);
}

.desktop-services-button{
    position: relative;
}

.desktop-services-display{
    position: absolute;
    z-index: 1;
    padding: .5rem 0;
    background-color: var(--white);
    border-radius: .7rem;
    box-shadow: 2px 1px 5px black;
}

.desktop-services-display a{
    padding: .5rem;
    font-family: var(--main-font-family);
    font-size: 1rem;
}

.desktop-services-button:hover .desktop-services-display{
    display: block;
}



/* MEDIA QUERRIES */
/* @media (min-width: 1024px){
    .mobile-display, .burger-button{
        display: none;
    }
} */