/* .landing-page{
    background-image: url("/Images/landing-page.jpg");
} */

.landing-page{
    margin-top: 2px;
}

.landing-page img{
    position: absolute;
    width: 100%;
    height: 27vw;
    object-fit: cover;
    z-index: -1;
    opacity: .9;
}


.landing-page a{
    font-size: 1em;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 14px;
    background-color: var(--brown);
    font-weight: bold;
    margin-left: 70%;
}

.landing-page-text{
    /* position: relative;
    top: 7vw;
    left: 6vw; */
    font-size: .9em;
    color: var(--green);
    text-shadow: .5px .5px .5px black;
}