* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* FOR SCREEN WIDTH 425 */
    /* USED TO BE 16PX */
    font-size: 8px;
}

main{
    font-size: 7px;
}

@media (max-width: 320px){
    html{
        font-size: 7px;
    }

}

@media (min-width: 768px){
    html{
        font-size: 16px;
    }

    main{
        font-size: 15px;
    }
}

@media (min-width: 1024px){
    html{
        font-size: 20px;
    }

    main{
        font-size: 19px;
    }
}

:root{
    --green: #659833;
    --brown: #564137;
    --blue: #477596;
    --white: #efefef;
    --main-font-family: 'glacial_indifferenceregular', sans-serif;
    --main-font-family-bold: 'glacial_indifferencebold', sans-serif;
    --secondary-font-family: 'montserratregular', sans-serif;
    --secondary-font-family-bold: 'montserratbold', sans-serif;
}



.hide{
    display: none;
}